.register-container{
    width: 1440px;
    height: 1129px;
    Top: 48px;
    Left: 1418px;
    color: #FFFFFF;
}

.register-left{
    flex-flow: vertical;
    width: 598px;
    height: 1019px;
    Top: 48px;
    Left: 40px;
    Gap: 96px;
}

.typ-page-title{
    font-family: var(--font-family);
  font-weight: var(--font-semibold);
  font-size: 3rem;          /* 48px */
  line-height: 1.875rem;    /* 30px */
  letter-spacing: -0.015em; /* -1.5% */
  color: #023E8A;
}

.type-subtext{
    font-family: var(--font-family);
  font-weight: var(--font-regular);
  font-size: 1.5rem;        /* 24px */
  line-height: 2rem;        /* 32px */
  letter-spacing: 0.012em;  /* +1.2% */
  color: #8E8E93;
}

.register-form{
    flex-flow: vertical;
    width: 548px;
    height: 472px;
    Gap: 24px;
}

.type-form-label{
    font-family: var(--font-family);
  font-weight: var(--font-regular);
  font-size: 1.25rem;       /* 20px */
  line-height: 0.875rem;    /* 14px */
  letter-spacing: -0.01em;  /* -1% */
  color: #8E8E93;
}

.type-body-lg{
    font-family: var(--font-family);
  font-weight: var(--font-regular);
  font-size: 1rem;          /* 16px */
  line-height: 1.5rem;      /* 24px */
  letter-spacing: -0.012em; /* -1.2% */
  color: #F2F2F2;
}

.type-button{
    font-family: var(--font-family);
  font-weight: var(--font-semibold);
  font-size: 1.0625rem;     /* 17px */
  line-height: 3.5rem;      /* 56px */
  letter-spacing: 0em;      /* 0% */
  color: #023E8A;
}

.register-right{
    width: 776px;
    height: 1129px;
    Left: 664px;
    color: #F7F7F7;
}

.illustration{
    width: 590px;
    height: 832px;
    Top: 149px;
    Left: 744px;
}