.verify-container {
  display: flex;
    width: flex;
    padding-inline: var(--space-40);
}

.verify-left{
    display: flex;
    flex-direction: column;
    width: 598px;
    height: auto;
    top: 48px;
    left: 40px;
    gap: 96px;
    margin-right: auto;
}

.typ-page-title{
  font-family: var(--font-family);
  font-weight: var(--font-semibold);
  font-size: 3rem;          /* 48px */
  line-height: 1.875rem;    /* 30px */
  letter-spacing: -0.015em; /* -1.5% */
  color: #023E8A
}

.typ-subtext{
  font-family: var(--font-family);
  font-weight: var(--font-regular);
  font-size: 1.5rem;        /* 24px */
  line-height: 2rem;        /* 32px */
  letter-spacing: 0.012em;  /* +1.2% */
  color: #8E8E93;
}

.verify-code-inputs{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 24px;
    margin-top: var(--space-96);
    margin-bottom: var(--space-96);
    margin-left: auto;
    margin-right: auto;
}

.verify-code-input{
    width: 94px;
    height: 94px;
    border-radius: 8px;
    border: 2px solid #FFF3B0;
    text-align: center;
    font-size: 32px;
}

.type-button{
  font-family: var(--font-family);
  font-weight: var(--font-semibold);
  font-size: 1.0625rem;     /* 17px */
  line-height: 3.5rem;      /* 56px */
  letter-spacing: 0em;      /* 0% */
  color: #023E8A;
  border: 5px solid #0e0d0c;
}

.typ-body-lg{
  font-family: var(--font-family);
  font-weight: var(--font-regular);
  font-size: 1rem;          /* 16px */
  line-height: 1.5rem;      /* 24px */
  letter-spacing: -0.012em; /* -1.2% */
  color: #E54545;
  font-weight: 400px;
  width: 598px;
  height: 24px;
}

.auth-btn {
  width: 570px;
  height: 70px;
  border-radius: 12px;
  background-color: #023E8A;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.verify-right{
    width: 776px;
    height: 1129px;
    left: 664px;
    color: #F7F7F7
}

.illustration{
    width: 590px;
    height: 832px;
}
