.tax-container {
    padding: 20px;
    text-align: center;
}

.tax-container h1 {
    font-size: 22px;
    font-weight: bold;
}

.desc {
    color: #555;
    margin-bottom: 20px;
}

.pay-btn {
    width: 100%;
    padding: 12px;
    background: #0a2a7a;
    color: #fff;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

.input-group {
    margin-top: 20px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
}

.success {
    margin-top: 15px;
    color: green;
    word-break: break-all;
}

.error {
    margin-top: 15px;
    color: red;
    word-break: break-all;
}